* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: none;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
input[type="number"] {
    width: 40px;
}
input[type=checkbox]:indeterminate::before {
    content: "";
    display: block;
    color: white;
    width: 15px;
    height: 15px;
    background-color:#fff;
    transform: translate(1px, 2px);
}
input[type=checkbox]:indeterminate::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #555;
    transform: translate(5px, -10px);
}

